#topborder, #bottomborder, #leftborder, #rightborder {
    background: #42C018;
    position: fixed;
}

#leftborder, #rightborder {
    top: 0;
    bottom: 0;
    width: 5px;
}

#leftborder {
    left: 0;
}

#rightborder {
    right: 0;
}

#topborder, #bottomborder {
    left: 0;
    right: 0;
    height: 5px;
}

#topborder {
    top: 0;
}

#bottomborder {
    bottom: 0;
}

#Score {
    text-align: center;
    color: Black;
}

.GameBoard{
    background-color:lightgreen;
}

.Center {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button{
    font-size:30px;
    font-family:Arial;
    background-color:darkgreen;
    color:white;
    height:100px;
    width:200px;
}

